/* {
  outline: 1px dotted red;
}/**/

html,
body {
  padding: 0;
  margin: 0;
  background-color: #282828;
  width: 100%;
  height: 100%;
}

.game-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.board {
  width: 500px;
  height: 500px;
  border-collapse: collapse;
  /* In case the board is rendered awkwardly, the background doesn't bleed through */
  background-color: #807974;

  position: absolute;
  top: 50%;
  left: 50%;
  margin: -250px 0 0 -250px;
}

.board td.even {
  background-color: #807974;
}

.board td.odd {
  background-color: #3e4044;
}

.board .highlight {
  width: 100%;
  height: 100%;

  /* Just some scaffolding for vertical-horizontal centering */
  position: relative;
}

.board .highlight.active {
  background: rgba(255, 255, 255, 0.3)
}

.board .highlight div {
  width: 80%;
  height: 80%;
  border-radius: 50%;

  /* V-H centering */
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -40% 0 0 -40%;
}

.board .s0 div {
  display: none;
}

.board .s1 div {
  background-color: black;
}

.board .s2 div {
  background-color: #920008;
}
